:host ::ng-deep {
  .bg {
    background-color: var(--primary-color);
    .wrapper {
      max-width: 1200px;
      margin: 0 auto;
      .language-flag {
        padding-top: 1em;
        width: 2em;
        float: right;
        cursor: pointer;
      }
    }
  }
}
